*{ margin: 0;
    padding: 0;
    font-family: 'Inter';
}



.hover{

   background-image: url(./images/donation13.jpg);
  

   background-size: contain;
background-repeat: no-repeat;
background-position:center;
background-size:contain;

background-blend-mode: multiply;
}

.first { color: azure;

 width: 826px;
 height: 320px;
 left: 307px;
 top: 174px;
 padding: 170px 500px;
 text-align: center;
 
}
.title{
    font-weight: 700;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sub-title{
padding-bottom: 20px;
}
.donate-btn{
    align-items: center;
  
    width: 160px;
    height: 56px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
   color: aliceblue; 
background: #FF5959;
border-radius: 5px  ;
border: transparent;
}

.donate-amount{
   text-align: center;
}

.donate-amount h2 {
    padding-top: 50px;
  
    font-weight: 700;
font-size: 45px;
}
.donate-amount p{
    padding-top: 10px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 20px;
}
.payment-tk{

    display: flex;
    
    padding: 40px;
    justify-content: space-around;
}

.payment-tk h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
width: 100px;
height: 40px;


background: #FAFAFA;

}
.payment-tk h3:hover{
    color: #FF5959;
    
    border: 2px solid #FF5959;
    border-radius: 5px; 
    
}

.other-amount {
  text-align: center; 
 
}

.other-amount p  {
    padding-bottom:9px;
    color: #B3B3B3;
}

.other-amount span { align-items: center;
    width: 50%;
    margin: auto;
display: block;
    border: 1px solid #DADADA; 
    margin-bottom: 20px; 
}
.other-amount p:hover{
    
}

.Our-plan {
   display: flex;
   justify-content:space-between;
   align-items: center;
}

.plan1{
    background: rgba(79, 157, 166, 0.1);
border-radius: 5px;
    width: 360px;
    height: 352px;
}
.plan2{
    width: 360px;
    height: 352px;
    background: rgba(255, 89, 89, 0.1);
border-radius: 5px;
}

.plan3{width: 360px;
    height: 352px;
    background: #FFF4D6;
border-radius: 5px;
}